/* ----------------------------------------ACTIVIDADES------------------------------------------------ */

.actividad__contenedor {
  width: 100%;
  margin: 0 auto;
}
.actividad__section {
  width: 100%;
  margin: 2rem auto 0rem;
  display: flex;
  flex-direction: column;
}
.actividad__h2{
  text-align: center;
  margin: 1em auto;
  font-size: 3rem;
  font-weight: 300;
  color: brown;
}
.actividad__visitas {
  display: flex;
  align-items: center;
  gap: 2em;
  margin: 1em auto;
 
}
.div__img,
.div__texto {
  width: 45%;
  padding: 1em;
}
.actividad__h3 {
  font-size: 2em;
  color: rgb(194, 154, 53);
  text-align: center;
}
.actividad__p {
  margin: 1.5em;
  font-size: 1.4em;
  font-weight: 300;
}
.div__visitas {
  width: 95%;
  min-height: 20vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.visitas__box {
  width: 20rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0.2rem;
  position: relative;
  top: 0;
  bottom: 0;
  transform-style: preserve-3d;
}
.img__a {
  width: 19.8rem;
  height: 15rem;
  position: absolute;
}
.img__a img {
  width: 100%;
  height: 100%;
}
.img__b {
  width: 19.8rem;
  height: 15rem;
  position: absolute;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: all 0.8s ease-out;
  opacity: 0;
  background-color: goldenrod;
}
.div__visitas .visitas__box:nth-child(2) .img__b,
.div__visitas .visitas__box:nth-child(4) .img__b {
  background-color: #047984;
}

.img__b:hover {
  opacity: 1;
}
.img__b p {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande";
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}
/* -------------------------------------PROYECTOS ESTUDIANTILES---------------------- */
.proyecto__contenedor {
  width: 90%;
  min-height: 50vh;
  box-sizing: border-box;
  margin: 0rem auto 5rem;
  padding: 0.3em 0.5em;
  border: 0.1em solid #d1defa;;
  border-radius: 0.3em;
  box-shadow: 0em 0em 0.5em #d1defa;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.proyecto__datos {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 0em;
}
.proyecto__datos h4 {
  font-size: 2em;
  border-bottom: 0.1em solid goldenrod;
  margin-bottom: 0.6em;
}
.proyecto__datos h5 {
  font-size: 2em;
  font-weight: 300;
  color: brown;
  margin: 0;
  padding: 0;
}
.proyecto__img {
  width: 60%;
  height: 30rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  transition: all 300ms;
}
.proyecto__img img {
  width: 30%;
  margin: 0.2em;
}
.proyecto__img img:hover {
  transform: scale(1.2, 1.2);
}

/* -------------------------------------NOSOTROS------------------------------------------- */
.contenedor {
  width: 90%;
  margin: 0 auto;
}
.nosotros {
  width: 90%;
  margin: 3rem auto;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.nosotros__div {
  width: 90%;
  margin: 3rem auto;
  background-color: rgb(219 238 234);
  border-radius: 0.3em;
  
}
.nosotros__h3 {
  font-weight: 400;
  font-size: 2em;
  font-style: oblique;
  text-align: center;
  margin-top: 2em;
}
.nosotros__h4 {
  font-weight: 500;
  font-size: 1.5em;
  text-align: center;
  color: brown;
}
.nosotros__texto {
  width: 45%;
  padding: 1em;
  border: 0.2em solid brown;
  border-radius: 0.3em;
  transition: all 300ms;
}
.nosotros__texto:hover {
  border: 0.3em solid goldenrod;
  transform: scale(1.1, 1.1);
}
.nosotros__img {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.nosotros__img img {
  width: 21rem;
  padding: 0.2em;
  transition: all 300ms;
}
.nosotros__img img:hover {
  transform: scale(1.1, 1.1);
}

/* -----------------MEDIA-QUERIES------------------- */

@media screen and (min-width: 389px) and (max-width: 540px) {
  /* ---------------  ACTIVIDADES---------- */
.actividad__h2{
  font-size: 1.3em;
}
.actividad__h3 {
  font-size: 0.7em;
}
.actividad__p {
  font-size: 1.1em;
}
  .actividad__section {
    width: 95%;
  }
  .actividad__visitas {
    display: flex;
    flex-direction: column;
  }
  .div__img {
    width: 90%;
  }
  .div__texto {
    order: 1;
    width: 90%;
  }
  .actividad__h3 {
    font-size: 1.4em;
  }

  /* ----------PROYECTOS ESTUDIANTILES---------- */

  .proyecto__contenedor {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    margin: 0rem auto 2rem;
    border: none;
  }
  .proyecto__datos {
    width: 85%;
    padding: 0.6em;
    border: none;
  }
  .proyecto__datos h4 {
    font-size: 1.3em;
  }
  .proyecto__datos h5 {
    font-size: 1.2em;
  }
  .proyecto__img {
    width: 98%;
  }
  .proyecto__img img {
    width: 46%;
    margin: 0.2em;
  }

  /* -----------------NOSOTROS------------ */
  .nosotros {
    display: flex;
    flex-direction: column;
  }
  .nosotros__h3,
  .nosotros__h4  {
    font-size: 1.3em;
  }
  .nosotros__texto {
    width: 90%;
  }

  .nosotros__texto:hover {
    display: none;
  }
  .nosotros__img {
    width: 90%;
    order: 1;
  }
  .nosotros__img img {
    width: 20rem;
    padding: 1em 0em;
  }
}
@media screen and (min-width: 541px) and (max-width: 768px) {
  .actividad__section {
    width: 95%;
  }
  .actividad__visitas {
    display: flex;
    flex-direction: column;
  }
  .div__img {
    width: 90%;
    padding: 0;
  }
  .div__texto {
    order: 1;
    width: 90%;
    padding: 0;
  }
  .actividad__h3 {
    font-size: 1.6em;
  }
  /* ----------PROYECTOS ESTUDIANTILES---------- */
  .actividad__h2 {
    font-size: 2em;
  }
  .proyecto__contenedor {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    margin: 0rem auto 2rem;
    border: none;
  }
  .proyecto__datos {
    width: 90%;
    padding: 0.6em;
    border: none;
  }
  .proyecto__datos h4 {
    font-size: 1.9em;
  }
  .proyecto__datos h5 {
    font-size: 1.6em;
  }
  .proyecto__img {
    width: 98%;
  }
  .proyecto__img img {
    width: 46%;
    margin: 0.2em;
  }

  /* -----------------NOSOTROS------------ */
  .nosotros {
    display: flex;
    flex-direction: column;
    margin: 0rem auto;
  }
  .nosotros__div .actividad__h2 {
    font-size: 2.5em;
  }
  .nosotros__texto {
    width: 90%;
    padding: 0.5em;
    margin: 1em 0em;
  }
  .nosotros__img {
    width: 90%;
    order: 1;
  }
  .nosotros__img img {
    width: 22rem;
    padding: 0.5em 0em;
  }
}

@media screen and (min-width: 769px) and (max-width: 960px) {
  
  .actividad__h2 {
    font-size: 2.6em;
  }
  .actividad__visitas{
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin: 1em auto;
}
  .actividad__h3 {
    font-weight: 400;
  }
  .div__img,
  .div__texto {
    width: 48%;
    padding: 0.3em;
  }
  .actividad__p {
    margin: 0.5em;
    font-size: 1.1em;
    font-weight: 300;
  }
  /* ----------PROYECTOS ESTUDIANTILES---------- */
  .proyecto__contenedor {
    display: flex;
    flex-direction: column;
  }
  .proyecto__datos {
    width: 60%;
    border: none;
    padding: 0.5em;
    margin: 0em 0em 1em;
  }
  .proyecto__datos h4 {
    font-size: 1.9em;
    border-bottom: 0.1em solid goldenrod;
    margin-bottom: 0.6em;
  }
  .proyecto__datos h5 {
    font-size: 1.7em;
    font-weight: 300;
    color: brown;
    margin: 0;
    padding: 0;
  }
  .proyecto__img {
    width: 95%;
  }
  .proyecto__img img {
    width: 32%;
    margin: 0.2em 0.2em 0.5em;
  }
  /* -------------------------------------NOSOTROS------------------------------------------- */

  .nosotros__div .actividad__h2 {
    font-size: 2.5em;
    margin-top: 0.2em;
  }
  .nosotros__div .actividad__p {
    padding: 0.5em;
    font-size: 1.3em;
  }
  .nosotros__h3 {
    font-weight: 400;
    font-size: 2.2em;
    font-style: oblique;
    text-align: center;
    margin-top: 0.5em;
  }
.nosotros__texto .actividad__p{
  padding: 0.5em 0.3em;
  font-size: 1.3em;
}
  .nosotros__texto {
    width: 40%;
    padding: 0.3em;
    border: none;

  }
  .nosotros__texto:hover{
    border: none;
}
}